<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF8"/>
    <title>Optimum Nutrition Products</title>
</head>
<body>
    <nav>   
        <a href="/">Home</a>
        <a href="/department">Department</a>
        <a href="/products">Products</a>
        <a href="/cart">Cart</a>
    </nav>

    <header>
        <h1>Optimum Nutrition Products</h1>
        <h2>Department</h2>
    </header>
    
    <br>
      
    {% if lst %}
        <form method='POST' onsubmit="type_to_product()"  id='type_form'>
        <p>
        {% for dep, type_lst in lst %}

            {{dep[0]}}<br/>

            {% for type in type_lst %}
                <input type='radio' name='type' 
                value='{{type}}'> {{type}} <br/>
            {% endfor %}
            <br>
        {% endfor %}
            <input type="submit" value="Submit">
        </p>
        </form>
    {% else %}
        <p>There are no department in the database.</p>
    {% endif %}
      
      

</body>
</html>

<script>
    function type_to_product(){
    var action_src = "/type/" + document.querySelector('input[name="type"]:checked').value;
    var form = document.getElementById('type_form');
    form.action = action_src ;

}
    
</script>